/*Definition des polices */
@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family : "AlexBrush-regular" ; 
    src : url("polices/AlexBrush-Regular.ttf");
    font-weight : normal ; 
    font-style : normal ; 
}

/* Element principaux de la page */
#bloc_page
{
    margin: auto ; 
    width: 90%;
}
body
{
    background-color :antiquewhite;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}   
/*Entete, naviagation et pied de la page */
header{
    border: 3px black ;
    border-style: groove;
    font-family: "Dayrom" , 'Trebuchet MS', Arial, sans-serif; 
    
}
#blocHaut
{
    border: 2px black ;
    border-style: dotted ;
    min-height: 150px ; 
    height: 20%;
    padding: 5px ; 
}
aside{
    border: 2px black ;
    border-style: dotted ;
    width: 50% ; 
    padding: 5px ; 
    
}
footer{
    border: 2px black ;
    border-style: dotted ;
    font-family: "Dayrom" , 'Trebuchet MS', Arial, sans-serif;
    
    
}

/*Block de l'annonce */
input,select,textarea{
    background-color:bisque;
}
p{
    overflow: auto ; 
}
section{
    display: flex ; 
}


#bloc_annonce{
    width: 50% ; 
    height: 50% ;
}

#titre_bloc , #formulaire_annonce {
    border: 2px black solid ;
    padding: 1px;

}
#description_annonce {
    display: flex ;  
    
}
#img_annonce{
    display: flex ; 
    margin: 10px ; 
}
#imgs{
    padding-left: 10px ; 
    display: flex column ; 
    
}
.dscrp{
    border: 1px black solid ;
    padding: 3px; 
}
#infoSup{
    width: 80%;
}
