doctype html
html
  head
    meta(charset="utf-8")
    title Dépot d'annonce
    link(rel="stylesheet" href="./public/CSS/pageDepot.css")
  body
    div
      p
        strong#depot
          a(href="/placeAd" title="cliquer pour déposer une annonce") DEPOSER UNE ANNONCE 
